.detailContainer {
  background-image: url("https://cdn.wallpapersafari.com/0/52/7t85ML.jpg");
  display: flex;
  flex-direction: column;
  padding: 5px; 
  color: #1b6b93;
  width: 100%;
  height: fit-content;
  align-items: center;
  border: 5px solid #000000;
  
}

.image {
  width: 100%;
  height: 300px;
  border-radius: 20%;
  background-color: rgb(252, 253, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.h3characteristics {
  color: #ffff00;
  margin-bottom: 5px; /* Añadir un margen inferior de 5px para separarlo del siguiente elemento */
}

.characteristics {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: yellow;
  text-align: center;
  margin-top: 5px; /* Añadir un margen superior de 5px para separarlo del elemento anterior */
  padding: 0; /* Eliminar el padding para acercarlo más al elemento anterior */
}


.left-column,
.right-column {
  width: calc(50% - 10px); /* Split the container into two columns with 10px spacing */
}


.h1 {
  text-align: center;
  margin: 10px;
  background-image: linear-gradient(to right, #ff0000, #ffa500, #ffff00);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 4px rgba(255, 0, 0, 0.8));
}

.card {
  background: linear-gradient(
    170deg,
    rgb(215, 222, 245) 0%,
    rgb(124, 162, 243) 50%,
    #0D1282 100%
  );
  padding: 10px; /* Reducir el espacio alrededor del contenido */
  width: 500px; /* Establecer un ancho mínimo */
  height: 650px; /* Ajustar la altura según el contenido */
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

