.detailContainer {
  background: #f4f2de;
  height: 720px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  color: #a1ccd1;
  width: 100%;
  align-items: center;
}

.image {
  width: 100%;
  height: 250px;
  border-radius: 20%;
  background-color: rgb(252, 253, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.h3characteristics {
  color: #ffff00;
  margin-bottom: 3px;
}

.characteristics {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: yellow;
  text-align: left;
  margin-bottom: 3px;
  padding: 0;
}

.left-column,
.middle-column,
.right-column {
  flex: 5;
  margin: 2px;
}

.h1 {
  text-align: center;
  margin: 10px;
  background-image: linear-gradient(to right, #ff0000, #ffa500, #ffff00);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 4px rgba(255, 0, 0, 0.8));
}

.card {
  background: linear-gradient(170deg, #a1ccd1 0%, #7c9d96 100%);
  padding: 10px;
  width: 450px;
  height: 600px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

button {
  color: #e9b384;
  background: #f4f2de;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid #e9b384;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

.card button:hover {
  color: #e9b384;
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.card button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
