.homeContainer {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A1CCD1;
  background-size: cover;
  
}
  
  .cardContainer {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    padding: 40px;    
  }

  .filterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px; /* Esto agrega un espacio entre los dos componentes */
}
  