.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Para centrar horizontalmente */
  background-image: url("https://cdn.wallpapersafari.com/0/52/7t85ML.jpg");
  background-size: cover;
  }
  
  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    background-color: blue;
    width: 100%;
    height: 50px;
  }
  
  
  .cardContainer {
    align-items: center;
    justify-content: center;
    border: 3px solid #164b60;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 2em;
    padding: 50px;
  }