.filterContainer {
  display: flex;
  flex-direction: row; /* Por defecto, flexbox coloca los elementos en una fila */
  align-items: center; /* Alinea verticalmente los elementos al centro */
  gap: 4px;
  
}