.paginationContainer {
  margin: 14px;
}

.paginationButtons {
  position: relative;
  bottom: 20px;
}

.paginationButtons button {
  margin-right: 8px;
  padding: 10px 15px;
  border-radius: 10%;
  cursor: pointer;
  color: #7c9d96; /* Color de número rojo */
  background-color: #a1ccd1; /* Color de fondo amarillo */
  border: 1px solid #7c9d96; /* Borde rojo */
}

.paginationButtons button:hover {
  background-color: #7c9d96; /* Cambiar fondo al hacer hover */
  color: #f4f2de; /* Cambiar color de número al hacer hover */
}

.paginationButtons button:active {
  transform: scale(0.9);
}

.paginationButtons button.active {
  background-color: #7c9d96;
  color: #f4f2de;
}
