.navBarContainer {
  display: flex;
  align-items: center; /* Opcional: alinea verticalmente los elementos en el centro */
  justify-content: space-between; /* Distribuye los elementos horizontalmente */
  background-color: red;
  padding: 10px;
}

.navButtons {
  display: flex; /* Para que los botones estén en línea */
}

.navButtons button {
  margin-left: 10px; /* Espacio entre los botones */
  background-color: #555;
  color: white;
  border: none;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}

.navButtons button:hover {
  background-color: #777;
}
