.navBarContainer {
  display: flex;
  align-items: center; /* Opcional: alinea verticalmente los elementos en el centro */
  justify-content: space-between; /* Distribuye los elementos horizontalmente */
  background-color: #7C9D96;
  padding: 10px;
}

.navButtons {
  display: flex; /* Para que los botones estén en línea */
  margin-left: 60px;

}

button {
  color: #7C9D96;
  background: #F4F2DE;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid #7C9D96;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

button:hover {
  color: #F4F2DE;
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.navButtons button:hover {
  background-color: #A1CCD1;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.searchBarContainer{
  margin-right: 60px;
}