.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  height: 100vh; /* This will make the form container take the full height of the viewport */
}

.form {
    background-color: #0D1282;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 30px;
    width: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    color: #ec1b1b;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
  }
  
  .inputContainer {
    height: 25px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .typesContainerCreate {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Styles for the selected types */
  .selected {
    display: flex;
    flex-wrap: wrap;
    gap: 20x;
  }
  
  .typeSpan {
    display: flex;
    align-items: center;
    background-color: #3a3d53;
    border-radius: 12px;
    padding: 4px 8px;
    margin-right: 4px;
    color: #eee;
  }
  
  .deleteBtn {
    background-color: #dc3545;
    border: none;
    border-radius: 50%;
    color: #eee;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .iLabel {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .cut {
    transform: translateY(8px);
  }
  
  .input:focus ~ .iLabel {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:focus) ~ .iLabel {
    color: #808097;
  }
  
  .input:focus ~ .iLabel {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }

  .error-message {
    color: hsl(9, 92%, 50%);
    animation: blink 1s infinite;
  }