.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 720px;
  background-color: #F4F2DE;
}

.form {
  background-color: #7C9D96;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.title {
  color: #E9B384;
  font-family: sans-serif;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1px; /* Agrega margen para separar el título de inputContainer */
}

.inputContainer {
  margin-top: 8px;
  padding: 10px;
  height: 25px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px; /* Agrega esta línea para hacer los inputs redondeados */
}

.typesContainerCreate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Agrega margen para separar typesContainerCreate de inputContainer */
}

h3 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: -5px;
  color: #F4F2DE;
}


/* Styles for the selected types */
.selected {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3px; /* Agrega margen para separar .selected de h6 */
}

.typeSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a3d53;
  border-radius: 20px;
  padding: 5px;
  margin-right: 4px;
  color: #F4F2DE;
  width: 100px;
  height: 20px;
}

.deleteBtn {
  background-color: #dc3545;
  border: none;
  border-radius: 50%;
  color: #eee;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  width: 10px;
  height: 10px;
}

.submit {
  background-color: #E9B384;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #F4F2DE;
  cursor: pointer;
  font-size: 18px;
  height: 45px;
  margin-top: auto; /* Cambia a 'auto' para que el botón esté cerca del fondo */
  text-align: center;
  width: 75%;
  margin-bottom: 15px; /* Agrega margen inferior para separar el botón de typesContainerCreate */
}

.submit:active {
  background-color: #F4F2DE;
  color: #E9B384;
}

.error-message {
  color: hsl(9, 92%, 50%);
  animation: blink 1s infinite;
}
/* Agrega una clase de CSS para el estilo de error */
.error {
  animation: blink 1s infinite;
  color: hsl(9, 92%, 50%);
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


